<?xml version="1.0" encoding="utf-8" ?>
<!--
    https://github.com/NLog/NLog/wiki/Internal-Logging
  -->
<nlog autoReload="true" 
        xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <extensions> 
        <add assembly="Zyborg.NLog.Targets.Logentries"/> 
    </extensions> 

    <targets>
        <target name="logfile" xsi:type="File" fileName="errors.log" />
        <target name="console" xsi:type="Console" />

        <!--
          - Don't forget to set LE security credentials in the environment, either:
          -   SET LOGENTRIES_TOKEN=<your-le-token>
          - or:
          -   SET LOGENTRIES_ACCOUNT_KEY=<your-le-account-key>
          -   SET LOGENTRIES_LOCATION=<location>
          -->
      <target name="logentries" type="Logentries" debug="true" httpPut="false" ssl="false"
              token="TOKEN"
              layout="${date:format=ddd MMM dd} ${time:format=HH:mm:ss} ${date:format=zzz yyyy} ${logger} : ${LEVEL}, ${message}"/>
    </targets>

    <rules>
        <!--
        <logger name="*" minlevel="Trace" writeTo="logfile" />
        -->
        <logger name="*" minlevel="Debug" writeTo="console" />
        <logger name="*" minlevel="Debug" writeTo="logentries" />
    </rules>
</nlog>
